body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3 {
    color: #2E2F42;
}

h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.111;
    color: #FFFFFF;
}

h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
}

ul{
    list-style: none;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

button{
    background-color: #4D5AE5;
    color: #FFFFFF;
}

button:focus, button:hover{
    background-color: #4D5AE5;
    cursor: pointer;
}

.team{
    background-color: #E7E9FC;
}

.hero{
    background-color: #2E2F42;
    
}

header{
    height: 72px;

}

.logo{
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.Studio{
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.nav-list-item > .nav-list-item-url{
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;

}

.nav-list-item:hover > .nav-list-item-url,
.nav-list-item:focus > .nav-list-item-url{
    color: #404bbf;
}

.address{
    font-style: normal;
    color: #434455;
}

.address:hover,
.address:focus{
    color: #404bbf;
}

a{
    text-decoration: none;
}